.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.GameContainer {
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  font-family: monospace;
  font-size: 40px;
}

.grid{
  display: flex;
  flex-flow: <‘flex-direction’> || <‘flex-wrap’>;
  /* align-items: center; */
  /* justify-content: space-evenly; */
}
.cards {
  font-family: monospace;
  align-items: center;
}
.cards:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
  transform: translateY(-1%);
}

.userInput {
  height:300px;

}
.header {
  font-family: monospace;
  font-size: 40px;
  background-color: white;
  padding-bottom: 40px;
  padding-top: 10px;
}
.scoreboard {
  display: grid;
  width: 50%;
  height: 30%;
  transform: translate(50%, -5%);
}

.image{
  display: block;
  justify-content: center;
  align-items: center;
}

.typewriter h1 {
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3s steps(30, end),
    blinking-cursor .4s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
